In [1]:
import pandas as pd

#**CREATING** **DATAFRAME**

In [2]:
data_1=pd.DataFrame( { 'Yes':[50,21], 'No':[131, 2] } )
data_1

   Yes   No
0   50  131
1   21    2

In [3]:
data_2=pd.DataFrame( { 'Yes':[50,21], 'No':[131, 2] }, index=['first','second'] )
data_2

        Yes   No
first    50  131
second   21    2

#**CREATING SERIES**

Es una columna del dataframe. Se pone primero todos los valores de cada fila, y se puede personalizar los indices.

In [4]:
series_1=pd.Series([30, 35, 40])
series_1

0    30
1    35
2    40
dtype: int64

In [5]:
series_1=pd.Series([30, 35, 40],index=['2015 Sales', '2016 Sales', '2017 Sales'],name='Sales')
series_1

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Sales, dtype: int64

# **IMPORT DATASETS FROM LOCAL MACHINE**

In [6]:
from google.colab import drive

In [7]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
CAyt= pd.read_csv('/content/drive/MyDrive/DATA/CA_youtube_trending_data.csv.zip')
CAyt.head(5)

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,KX06ksuS6Xo,Diljit Dosanjh: CLASH (Official) Music Video |...,2020-08-11T07:30:02Z,UCZRdNleCgW-BGUJf-bbjzQg,Diljit Dosanjh,10,2020-08-12T00:00:00Z,clash diljit dosanjh|diljit dosanjh|diljit dos...,9140911,296541,6180,30059,https://i.ytimg.com/vi/KX06ksuS6Xo/default.jpg,False,False,CLASH official music video performed by DILJIT...
1,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353797,2628,40222,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
2,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146740,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
3,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156914,5857,35331,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45803,964,2198,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...

In [59]:
GByt=pd.read_csv('/content/drive/MyDrive/DATA/GBvideos.csv.zip')
GByt.head(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...

#**READING DATA**

In [10]:
 # Titanic Dataset
 titanic=pd.read_csv('https://bit.ly/3kGDuKx',na_values='?')  #na_values=not a number
 titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [11]:
titanic.shape

(1309, 14)

In [12]:
titanic.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [13]:
titanic.name

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

#**INDEXING**

In [14]:
titanic['sex']

0       female
1         male
2       female
3         male
4       female
         ...
1304    female
1305    female
1306      male
1307      male
1308      male
Name: sex, Length: 1309, dtype: object

In [15]:
titanic.iloc[0]  #primera fila,todas las columnas

pclass                                   1
survived                                 1
name         Allen, Miss. Elisabeth Walton
sex                                 female
age                                   29.0
sibsp                                    0
parch                                    0
ticket                               24160
fare                              211.3375
cabin                                   B5
embarked                                 S
boat                                     2
body                                   NaN
home.dest                     St Louis, MO
Name: 0, dtype: object

In [16]:
titanic.iloc[:,0]  #todas las filas, primera columna

0       1
1       1
2       1
3       1
4       1
       ..
1304    3
1305    3
1306    3
1307    3
1308    3
Name: pclass, Length: 1309, dtype: int64

In [17]:
titanic.iloc[:4, [0,1]]   #cuatro primeras filas con las dos primeras columnas

   pclass  survived
0       1         1
1       1         1
2       1         0
3       1         0

In [18]:
titanic.loc[:3,['age']]  #OBS: en loc, se toma el extremo. :3 toma 4 filas y no 3 (0,1,2) como en iloc

       age
0  29.0000
1   0.9167
2   2.0000
3  30.0000

In [19]:
titanic.iloc[-5:, 2:5]

                           name     sex   age
1304       Zabour, Miss. Hileni  female  14.5
1305      Zabour, Miss. Thamine  female   NaN
1306  Zakarian, Mr. Mapriededer    male  26.5
1307        Zakarian, Mr. Ortin    male  27.0
1308         Zimmerman, Mr. Leo    male  29.0

#**MANIPULATING INDEX**

In [20]:
titanic.set_index('age')  #utilizamos la columna de la edad para indexar. No es muy conveniente porque hay edades iguales y no es buen indexado

,pclass,survived,name,sex,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
age,,,,,,,,,,,,,
29.0000,1,1,"Allen, Miss. Elisabeth Walton",female,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
0.9167,1,1,"Allison, Master. Hudson Trevor",male,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2.0000,1,0,"Allison, Miss. Helen Loraine",female,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
30.0000,1,0,"Allison, Mr. Hudson Joshua Creighton",male,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
25.0000,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14.5000,3,0,"Zabour, Miss. Hileni",female,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
NaN,3,0,"Zabour, Miss. Thamine",female,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
26.5000,3,0,"Zakarian, Mr. Mapriededer",male,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
27.0000,3,0,"Zakarian, Mr. Ortin",male,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
29.0000,3,0,"Zimmerman, Mr. Leo",male,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

#**CONDITIONAL SELECTION**

In [21]:
titanic.age==30

0       False
1       False
2       False
3        True
4       False
        ...
1304    False
1305    False
1306    False
1307    False
1308    False
Name: age, Length: 1309, dtype: bool

In [22]:
titanic.loc[titanic.age==30]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
32,1,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
67,1,1,"Cherry, Miss. Gladys",female,30.0,0,0,110152,86.5000,B77,S,8,NaN,"London, England"
110,1,0,"Foreman, Mr. Benjamin Laventall",male,30.0,0,0,113051,27.7500,C111,C,NaN,NaN,"New York, NY"
117,1,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C,1,NaN,NaN
182,1,1,"LeRoy, Miss. Bertha",female,30.0,0,0,PC 17761,106.4250,NaN,C,2,NaN,NaN
191,1,0,"Loring, Mr. Joseph Holland",male,30.0,0,0,113801,45.5000,NaN,S,NaN,NaN,"London / New York, NY"
194,1,0,"Maguire, Mr. John Edward",male,30.0,0,0,110469,26.0000,C106,S,NaN,NaN,"Brockton, MA"
209,1,1,"Mock, Mr. Philipp Edmund",male,30.0,1,0,13236,57.7500,C78,C,11,NaN,"New York, NY"
230,1,1,"Perreault, Miss. Anne",female,30.0,0,0,12749,93.5000,B73,S,3,NaN,NaN
258,1,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C,4,NaN,NaN
323,2,0,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C,NaN,NaN,"Russia New York, NY"
325,2,0,"Aldworth, Mr. Charles Augustus",male,30.0,0,0,248744,13.0000,NaN,S,NaN,NaN,"Bryn Mawr, PA, USA"
381,2,0,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.0,0,0,237249,13.0000,NaN,S,NaN,NaN,"Provo, UT"
402,2,1,"Duran y More, Miss. Florentina",female,30.0,1,0,SC/PARIS 2148,13.8583,NaN,C,12,NaN,"Barcelona, Spain / Havana, Cuba"
424,2,0,"Givard, Mr. Hans Kristensen",male,30.0,0,0,250646,13.0000,NaN,S,NaN,305.0,NaN
426,2,0,"Hale, Mr. Reginald",male,30.0,0,0,250653,13.0000,NaN,S,NaN,75.0,"Auburn, NY"
433,2,0,"Harris, Mr. Walter",male,30.0,0,0,W/C 14208,10.5000,NaN,S,NaN,NaN,"Walthamstow, England"
476,2,0,"Lahtinen, Rev. William",male,30.0,1,1,250651,26.0000,NaN,S,NaN,NaN,"Minneapolis, MN"
496,2,0,"Matthews, Mr. William John",male,30.0,0,0,28228,13.0000,NaN,S,NaN,NaN,"St Austall, Cornwall"
499,2,0,"McCrie, Mr. James Matthew",male,30.0,0,0,233478,13.0000,NaN,S,NaN,NaN,"Sarnia, ON"
538,2,1,"Portaluppi, Mr. Emilio Ilario Giuseppe",male,30.0,0,0,C.A. 34644,12.7375,NaN,C,14,NaN,"Milford, NH"
545,2,1,"Renouf, Mrs. Peter Henry (Lillian Jefferys)",female,30.0,3,0,31027,21.0000,NaN,S,NaN,NaN,"Elizabeth, NJ"
560,2,1,"Sinkkonen, Miss. Anna",female,30.0,0,0,250648,13.0000,NaN,S,10,NaN,"Finland / Washington, DC"
562,2,1,"Slayter, Miss. Hilda Mary",female,30.0,0,0,234818,12.3500,NaN,Q,13,NaN,"Halifax, NS"
578,2,0,"Ware, Mr. John James",male,30.0,1,0,CA 31352,21.0000,NaN,S,NaN,NaN,"Bristol, England / New Britain, CT"
608,3,0,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.2500,NaN,S,NaN,72.0,"Asarum, Sweden Brooklyn, NY"
651,3,0,"Attalah, Mr. Sleiman",male,30.0,0,0,2694,7.2250,NaN,C,NaN,NaN,"Ottawa, ON"
697,3,0,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S,NaN,NaN,NaN
726,3,0,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q,NaN,NaN,Ireland
732,3,0,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.0500,NaN,S,NaN,NaN,London
745,3,1,"Daly, Miss. Margaret Marcella 'Maggie'",female,30.0,0,0,382650,6.9500,NaN,Q,15,NaN,"Co Athlone, Ireland New York, NY"
760,3,1,"de Mulder, Mr. Theodore",male,30.0,0,0,345774,9.5000,NaN,S,11,NaN,"Belgium Detroit, MI"
778,3,1,"Dowdell, Miss. Elizabeth",female,30.0,0,0,364516,12.4750,NaN,S,13,NaN,"Union Hill, NJ"
875,3,0,"Ibrahim Shawah, Mr. Yousseff",male,30.0,0,0,2685,7.2292,NaN,C,NaN,NaN,NaN
912,3,0,"Karaic, Mr. Milan",male,30.0,0,0,349246,7.8958,NaN,S,NaN,NaN,NaN
969,3,0,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",female,30.0,1,0,349910,15.5500,NaN,S,A,NaN,NaN
974,3,0,"Lobb, Mr. William Arthur",male,30.0,1,0,A/5. 3336,16.1000,NaN,S,NaN,NaN,NaN
1218,3,0,"Somerton, Mr. Francis William",male,30.0,0,0,A.5. 18509,8.0500,NaN,S,NaN,NaN,NaN
1267,3,0,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,NaN,S,NaN,NaN,NaN

In [23]:
titanic.loc[(titanic.age==30) & (titanic.pclass==1)]  #imprescindibles los paréntesis, no se puede usar and,or; se usa &,|

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
32,1,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
67,1,1,"Cherry, Miss. Gladys",female,30.0,0,0,110152,86.5000,B77,S,8,NaN,"London, England"
110,1,0,"Foreman, Mr. Benjamin Laventall",male,30.0,0,0,113051,27.7500,C111,C,NaN,NaN,"New York, NY"
117,1,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C,1,NaN,NaN
182,1,1,"LeRoy, Miss. Bertha",female,30.0,0,0,PC 17761,106.4250,NaN,C,2,NaN,NaN
191,1,0,"Loring, Mr. Joseph Holland",male,30.0,0,0,113801,45.5000,NaN,S,NaN,NaN,"London / New York, NY"
194,1,0,"Maguire, Mr. John Edward",male,30.0,0,0,110469,26.0000,C106,S,NaN,NaN,"Brockton, MA"
209,1,1,"Mock, Mr. Philipp Edmund",male,30.0,1,0,13236,57.7500,C78,C,11,NaN,"New York, NY"
230,1,1,"Perreault, Miss. Anne",female,30.0,0,0,12749,93.5000,B73,S,3,NaN,NaN
258,1,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C,4,NaN,NaN

In [24]:
titanic.loc[ ((titanic.age==30) & (titanic.pclass==1)) | (titanic.cabin=='C22 C26')]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
32,1,1,"Bonnell, Miss. Caroline",female,30.0000,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
67,1,1,"Cherry, Miss. Gladys",female,30.0000,0,0,110152,86.5000,B77,S,8,NaN,"London, England"
110,1,0,"Foreman, Mr. Benjamin Laventall",male,30.0000,0,0,113051,27.7500,C111,C,NaN,NaN,"New York, NY"
117,1,1,"Francatelli, Miss. Laura Mabel",female,30.0000,0,0,PC 17485,56.9292,E36,C,1,NaN,NaN
182,1,1,"LeRoy, Miss. Bertha",female,30.0000,0,0,PC 17761,106.4250,NaN,C,2,NaN,NaN
191,1,0,"Loring, Mr. Joseph Holland",male,30.0000,0,0,113801,45.5000,NaN,S,NaN,NaN,"London / New York, NY"
194,1,0,"Maguire, Mr. John Edward",male,30.0000,0,0,110469,26.0000,C106,S,NaN,NaN,"Brockton, MA"
209,1,1,"Mock, Mr. Philipp Edmund",male,30.0000,1,0,13236,57.7500,C78,C,11,NaN,"New York, NY"
230,1,1,"Perreault, Miss. Anne",female,30.0000,0,0,12749,93.5000,B73,S,3,NaN,NaN
258,1,1,"Serepeca, Miss. Augusta",female,30.0000,0,0,113798,31.0000,NaN,C,4,NaN,NaN

In [25]:
titanic.loc[titanic.cabin.isin(['C22 C26','C7'])]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
32,1,1,"Bonnell, Miss. Caroline",female,30.0000,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
309,1,1,"Wick, Miss. Mary Natalie",female,31.0000,0,2,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"

In [26]:
titanic.loc[titanic.body.notnull()]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.0,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
25,1,0,"Birnbaum, Mr. Jakob",male,25.0,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
39,1,0,"Brandeis, Mr. Emil",male,48.0,0,0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,3,0,"Williams, Mr. Leslie",male,28.5,0,0,54636,16.1000,NaN,S,NaN,14.0,NaN
1296,3,0,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,NaN,131.0,NaN
1301,3,0,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C,NaN,312.0,NaN
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN

In [27]:
titanic['ticket price']=800   #se crea una nueva columna a la derecha, con el mismo valor para todas las filas
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ticket price
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",800
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",800
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",800
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,800
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,800
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,800
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,800
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,800

In [28]:
titanic['ticket price'][0]=200    #se puede editar 
titanic.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ticket price
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",200
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",800
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",800
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800

#**FUNCTIONS AND MAPS**

In [29]:
titanic.age.describe()

count    1046.000000
mean       29.881135
std        14.413500
min         0.166700
25%        21.000000
50%        28.000000
75%        39.000000
max        80.000000
Name: age, dtype: float64

In [30]:
titanic.sex.value_counts()

male      843
female    466
Name: sex, dtype: int64

In [31]:
titanic.cabin.unique()

array(['B5', 'C22 C26', 'E12', 'D7', 'A36', 'C101', nan, 'C62 C64', 'B35',
       'A23', 'B58 B60', 'D15', 'C6', 'D35', 'C148', 'C97', 'B49', 'C99',
       'C52', 'T', 'A31', 'C7', 'C103', 'D22', 'E33', 'A21', 'B10', 'B4',
       'E40', 'B38', 'E24', 'B51 B53 B55', 'B96 B98', 'C46', 'E31', 'E8',
       'B61', 'B77', 'A9', 'C89', 'A14', 'E58', 'E49', 'E52', 'E45',
       'B22', 'B26', 'C85', 'E17', 'B71', 'B20', 'A34', 'C86', 'A16',
       'A20', 'A18', 'C54', 'C45', 'D20', 'A29', 'C95', 'E25', 'C111',
       'C23 C25 C27', 'E36', 'D34', 'D40', 'B39', 'B41', 'B102', 'C123',
       'E63', 'C130', 'B86', 'C92', 'A5', 'C51', 'B42', 'C91', 'C125',
       'D10 D12', 'B82 B84', 'E50', 'D33', 'C83', 'B94', 'D49', 'D45',
       'B69', 'B11', 'E46', 'C39', 'B18', 'D11', 'C93', 'B28', 'C49',
       'B52 B54 B56', 'E60', 'C132', 'B37', 'D21', 'D19', 'C124', 'D17',
       'B101', 'D28', 'D6', 'D9', 'B80', 'C106', 'B79', 'C47', 'D30',
       'C90', 'E38', 'C78', 'C30', 'C118', 'D36', 'D48', 'D47', 'C105',
       'B36', 'B30', 'D43', 'B24', 'C2', 'C65', 'B73', 'C104', 'C110',
       'C50', 'B3', 'A24', 'A32', 'A11', 'A10', 'B57 B59 B63 B66', 'C28',
       'E44', 'A26', 'A6', 'A7', 'C31', 'A19', 'B45', 'E34', 'B78', 'B50',
       'C87', 'C116', 'C55 C57', 'D50', 'E68', 'E67', 'C126', 'C68',
       'C70', 'C53', 'B19', 'D46', 'D37', 'D26', 'C32', 'C80', 'C82',
       'C128', 'E39 E41', 'D', 'F4', 'D56', 'F33', 'E101', 'E77', 'F2',
       'D38', 'F', 'F G63', 'F E57', 'F E46', 'F G73', 'E121', 'F E69',
       'E10', 'G6', 'F38'], dtype=object)

#**MAPS**

In [32]:
titanic.age.map(lambda p: p-titanic.age.mean())

0       -0.881135
1      -28.964435
2      -27.881135
3        0.118865
4       -4.881135
          ...
1304   -15.381135
1305          NaN
1306    -3.381135
1307    -2.881135
1308    -0.881135
Name: age, Length: 1309, dtype: float64

In [33]:
titanic.age-titanic.age.mean()

0       -0.881135
1      -28.964435
2      -27.881135
3        0.118865
4       -4.881135
          ...
1304   -15.381135
1305          NaN
1306    -3.381135
1307    -2.881135
1308    -0.881135
Name: age, Length: 1309, dtype: float64

In [34]:
def add_10(x):
  return titanic[x] + 10

In [35]:
add_10('age')

0       39.0000
1       10.9167
2       12.0000
3       40.0000
4       35.0000
         ...
1304    24.5000
1305        NaN
1306    36.5000
1307    37.0000
1308    39.0000
Name: age, Length: 1309, dtype: float64

In [36]:
def age_group(x):
  if x.age<18:
    return 'child'
  elif 18<=x.age<60:
    return 'adult'
  else:
    return 'old'

In [37]:
titanic.apply(age_group,axis='columns')

0       adult
1       child
2       child
3       adult
4       adult
        ...
1304    child
1305      old
1306    adult
1307    adult
1308    adult
Length: 1309, dtype: object

#**GROUPING**

In [38]:
titanic.groupby(['pclass'])[['survived','fare']].sum()   #a la izquierda las columnas por las que queremos clasificar, a la derecha las columnas que se estudian y
                                                        # a las cuales aplicamos funciones como max, min...

        survived        fare
pclass
1            200  28265.4043
2            119   5866.6374
3            181   9418.4452

In [39]:
titanic.groupby(['pclass','survived'])[['fare']].sum()

                       fare
pclass survived
1      0          8660.7415
       1         19604.6628
2      0          3128.6707
       1          2737.9667
3      0          7080.4829
       1          2337.9623

In [40]:
titanic.groupby(['pclass','sex','survived'])[['fare']].agg(['max','sum'])

                            fare
                             max         sum
pclass sex    survived
1      female 0         221.7792    585.2709
              1         512.3292  15170.1125
       male   0         263.0000   8075.4706
              1         512.3292   4434.5503
2      female 0          26.0000    229.5000
              1          65.0000   2233.3917
       male   0          73.5000   2899.1707
              1          39.0000    504.5750
3      female 0          69.5500   2020.3878
              1          31.3875   1289.6501
       male   0          69.5500   5060.0951
              1          56.4958   1048.3122

In [41]:
groups=titanic.groupby(['pclass','sex','survived'])[['fare','ticket']].agg(['max','sum'])
groups

                            fare                         ticket  \
                             max         sum                max
pclass sex    survived
1      female 0         221.7792    585.2709           PC 17595
              1         512.3292  15170.1125          WE/P 5735
       male   0         263.0000   8075.4706          WE/P 5735
              1         512.3292   4434.5503           PC 17759
2      female 0          26.0000    229.5000        SC/AH 29037
              1          65.0000   2233.3917        W./C. 14266
       male   0          73.5000   2899.1707          W/C 14208
              1          39.0000    504.5750        W./C. 14260
3      female 0          69.5500   2020.3878         W./C. 6609
              1          31.3875   1289.6501   STON/O2. 3101283
       male   0          69.5500   5060.0951         W./C. 6608
              1          56.4958   1048.3122  STON/O 2. 3101289


                                                                      sum
pclass sex    survived
1      female 0                      113781113781PC 17531PC 17595PC 17483
              1         241601350211769PC 17757PC 1747719877PC 1755811...
       male   0         113781112050PC 17609PC 17757PC 17318PC 1755813...
              1         1137811995227042117511113691196711056411227711...
2      female 0         244252SC/AH 29037237249F.C.C. 1353423767125065...
              1         P/PP 33812268752855129082301362301362301362840...
       male   0         P/PP 3381248744231945C.A. 34050226875244346291...
              1         290823013624869824873824873828034C.A. 33112282...
3      female 0         7546347082347082347091347082347082347082349237...
              1         C.A. 26733481252657392091350046310128134707734...
       male   0         C.A. 5547C.A. 2673C.A. 2673C 70763418263474SOT...
              1         348122SOTON/O2 3101284392091269935004334707735...

In [42]:
#getting rid of multi-index with reset_index()
notmultiindex=groups.reset_index()
notmultiindex

   pclass     sex survived      fare                         ticket  \
                                 max         sum                max
0       1  female        0  221.7792    585.2709           PC 17595
1       1  female        1  512.3292  15170.1125          WE/P 5735
2       1    male        0  263.0000   8075.4706          WE/P 5735
3       1    male        1  512.3292   4434.5503           PC 17759
4       2  female        0   26.0000    229.5000        SC/AH 29037
5       2  female        1   65.0000   2233.3917        W./C. 14266
6       2    male        0   73.5000   2899.1707          W/C 14208
7       2    male        1   39.0000    504.5750        W./C. 14260
8       3  female        0   69.5500   2020.3878         W./C. 6609
9       3  female        1   31.3875   1289.6501   STON/O2. 3101283
10      3    male        0   69.5500   5060.0951         W./C. 6608
11      3    male        1   56.4958   1048.3122  STON/O 2. 3101289


                                                  sum
0                113781113781PC 17531PC 17595PC 17483
1   241601350211769PC 17757PC 1747719877PC 1755811...
2   113781112050PC 17609PC 17757PC 17318PC 1755813...
3   1137811995227042117511113691196711056411227711...
4   244252SC/AH 29037237249F.C.C. 1353423767125065...
5   P/PP 33812268752855129082301362301362301362840...
6   P/PP 3381248744231945C.A. 34050226875244346291...
7   290823013624869824873824873828034C.A. 33112282...
8   7546347082347082347091347082347082347082349237...
9   C.A. 26733481252657392091350046310128134707734...
10  C.A. 5547C.A. 2673C.A. 2673C 70763418263474SOT...
11  348122SOTON/O2 3101284392091269935004334707735...

#**SORTING**

In [43]:
groups.sort_index()  #default

                            fare                         ticket  \
                             max         sum                max
pclass sex    survived
1      female 0         221.7792    585.2709           PC 17595
              1         512.3292  15170.1125          WE/P 5735
       male   0         263.0000   8075.4706          WE/P 5735
              1         512.3292   4434.5503           PC 17759
2      female 0          26.0000    229.5000        SC/AH 29037
              1          65.0000   2233.3917        W./C. 14266
       male   0          73.5000   2899.1707          W/C 14208
              1          39.0000    504.5750        W./C. 14260
3      female 0          69.5500   2020.3878         W./C. 6609
              1          31.3875   1289.6501   STON/O2. 3101283
       male   0          69.5500   5060.0951         W./C. 6608
              1          56.4958   1048.3122  STON/O 2. 3101289


                                                                      sum
pclass sex    survived
1      female 0                      113781113781PC 17531PC 17595PC 17483
              1         241601350211769PC 17757PC 1747719877PC 1755811...
       male   0         113781112050PC 17609PC 17757PC 17318PC 1755813...
              1         1137811995227042117511113691196711056411227711...
2      female 0         244252SC/AH 29037237249F.C.C. 1353423767125065...
              1         P/PP 33812268752855129082301362301362301362840...
       male   0         P/PP 3381248744231945C.A. 34050226875244346291...
              1         290823013624869824873824873828034C.A. 33112282...
3      female 0         7546347082347082347091347082347082347082349237...
              1         C.A. 26733481252657392091350046310128134707734...
       male   0         C.A. 5547C.A. 2673C.A. 2673C 70763418263474SOT...
              1         348122SOTON/O2 3101284392091269935004334707735...

In [44]:
group_2=titanic.groupby(['pclass','sex']).fare.agg(['sum'])
group_2  #sort_index

                      sum
pclass sex
1      female  15755.3834
       male    12510.0209
2      female   2462.8917
       male     3403.7457
3      female   3310.0379
       male     6108.4073

In [45]:
group_2.sort_values(by='sum')

                      sum
pclass sex
2      female   2462.8917
3      female   3310.0379
2      male     3403.7457
3      male     6108.4073
1      male    12510.0209
       female  15755.3834

#**DATA TYPES AND MISSING VALUES**

In [46]:
titanic.name.dtype   #object

dtype('O')

In [47]:
titanic.age.dtype

dtype('float64')

In [48]:
titanic.ticket.dtype   #why not int?

dtype('O')

In [49]:
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ticket price
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",200
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",800
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",800
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800

In [50]:
#filling empry values (NaN=Not a Number)
titanic.body.fillna('???')

0         ???
1         ???
2         ???
3       135.0
4         ???
        ...
1304    328.0
1305      ???
1306    304.0
1307      ???
1308      ???
Name: body, Length: 1309, dtype: object

In [51]:
#replacing
titanic.sex.replace('female','girl')

0       girl
1       male
2       girl
3       male
4       girl
        ...
1304    girl
1305    girl
1306    male
1307    male
1308    male
Name: sex, Length: 1309, dtype: object

 # **RENAMING**

In [52]:
titanic.rename(columns={'sex':'gender', 'cabin':'room'})  #renaming columns

,pclass,survived,name,gender,age,sibsp,parch,ticket,fare,room,embarked,boat,body,home.dest,ticket price
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",200
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",800
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",800
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,800
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,800
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,800
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,800
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,800

In [53]:
titanic.rename(index={0: 'firstEntry', 1: 'secondEntry', -1:'lastEntry'})   #renaming rows/index, -1 porque no me cambia la ultima posicion?

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ticket price
firstEntry,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",200
secondEntry,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",800
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",800
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,800
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,800
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,800
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,800
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,800

In [54]:
titanic.rename_axis("people", axis='rows').rename_axis("information", axis='columns')    #giving names to de columns and rows

information,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ticket price
people,,,,,,,,,,,,,,,
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",200
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",800
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",800
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,800
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,800
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,800
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,800
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,800

# **COMBINING**

In [65]:
#se usan los data sets de CAyt y GByt
CAyt

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,KX06ksuS6Xo,Diljit Dosanjh: CLASH (Official) Music Video |...,2020-08-11T07:30:02Z,UCZRdNleCgW-BGUJf-bbjzQg,Diljit Dosanjh,10,2020-08-12T00:00:00Z,clash diljit dosanjh|diljit dosanjh|diljit dos...,9140911,296541,6180,30059,https://i.ytimg.com/vi/KX06ksuS6Xo/default.jpg,False,False,CLASH official music video performed by DILJIT...
1,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353797,2628,40222,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
2,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146740,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
3,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156914,5857,35331,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45803,964,2198,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137938,1BPxcoZsZLo,celebrities need to STOP creating beauty brands!,2022-06-22T16:30:00Z,UCoOss5XiPpnLHGmLrBvNkJg,Mina Le,26,2022-06-28T00:00:00Z,Beauty brands|kim kardashian|kylie jenner|fent...,896119,57714,0,3471,https://i.ytimg.com/vi/1BPxcoZsZLo/default.jpg,False,False,Head to squarespace.com/minale to save 10% off...
137939,H0SMHCIf2qg,Lil Durk - Did Shit To Me feat. Doodie Lo (Off...,2022-06-22T04:00:10Z,UCaxOQZrF5llUMp-JjesUz1A,Lil Durk,10,2022-06-28T00:00:00Z,lil durk|lil durk music|lil durk music video|j...,3950493,166630,0,11413,https://i.ytimg.com/vi/H0SMHCIf2qg/default.jpg,False,False,Stream “Did Shit To Me” ft. Doodie Lo On All P...
137940,9_zYKLI9Ze0,I scammed Minecraft's Deadliest Assassin,2022-06-23T17:00:09Z,UCPHsA2eQaYq_GN_vvs-NsAw,MrCube6,20,2022-06-28T00:00:00Z,lifestealsmp|lifesteal smp|minecraft|redstone|...,224749,9187,0,583,https://i.ytimg.com/vi/9_zYKLI9Ze0/default.jpg,False,False,This video is by far my craziest! I try to sca...
137941,KxoZXHMSAWc,BEST SIDEMEN LOCKDOWN MOMENTS!,2022-06-24T16:00:22Z,UCjRkTl_HP4zOh3UFaThgRZw,SidemenReacts,24,2022-06-28T00:00:00Z,Sidemen|Sidemen Reacts|SidemenReacts,1177397,71648,0,1552,https://i.ytimg.com/vi/KxoZXHMSAWc/default.jpg,False,False,🍗: Order food NOW at: https://www.eatsides.com...
137942,sBEvEcpnG7k,Stranger Things 4 | Volume 2 Trailer | Netflix,2022-06-21T14:00:00Z,UChmpTxQ0Gp8KEJKsqzeg9Lg,Stranger Things,24,2022-06-28T00:00:00Z,caleb mclaughlin|charlie heaton|chief hopper|d...,3776983,176838,0,11846,https://i.ytimg.com/vi/sBEvEcpnG7k/default.jpg,False,False,It might not work out for us this time. The ep...

In [64]:
GByt

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,https://i.ytimg.com/vi/l884wKofd54/default.jpg,False,False,False,NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...
38912,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg,False,False,False,THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...
38913,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg,False,False,False,Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,False,Eleni Foureira represented Cyprus at the first...
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,False,Debut album 'Light of Mine' out now: http://ky...

**CONCAT**

In [63]:
CAGByt=pd.concat([CAyt,GByt])    
CAGByt

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,...,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,channel_title,category_id,publish_time,views,video_error_or_removed
0,KX06ksuS6Xo,Diljit Dosanjh: CLASH (Official) Music Video |...,2020-08-11T07:30:02Z,UCZRdNleCgW-BGUJf-bbjzQg,Diljit Dosanjh,10.0,2020-08-12T00:00:00Z,clash diljit dosanjh|diljit dosanjh|diljit dos...,9140911.0,296541,...,30059,https://i.ytimg.com/vi/KX06ksuS6Xo/default.jpg,False,False,CLASH official music video performed by DILJIT...,NaN,NaN,NaN,NaN,NaN
1,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24.0,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853.0,353797,...,40222,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...,NaN,NaN,NaN,NaN,NaN
2,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20.0,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688.0,146740,...,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare...",NaN,NaN,NaN,NaN,NaN
3,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22.0,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614.0,156914,...,35331,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...,NaN,NaN,NaN,NaN,NaN
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26.0,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889.0,45803,...,2198,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,NaN,NaN,NaN,NaN,18.14.06,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",NaN,268088,...,9933,https://i.ytimg.com/vi/l884wKofd54/default.jpg,False,False,NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...,EnriqueIglesiasVEVO,10.0,2018-05-09T07:00:01.000Z,25066952.0,False
38912,IP8k2xkhOdI,Jacob Sartorius - Up With It (Official Music V...,NaN,NaN,NaN,NaN,18.14.06,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",NaN,61998,...,24330,https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg,False,False,THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...,Jacob Sartorius,10.0,2018-05-11T17:09:16.000Z,1492219.0,False
38913,Il-an3K9pjg,Anne-Marie - 2002 [Official Video],NaN,NaN,NaN,NaN,18.14.06,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",NaN,394830,...,19988,https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg,False,False,Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...,Anne-Marie,10.0,2018-05-08T11:05:08.000Z,29641412.0,False
38914,-DRsfNObKIQ,Eleni Foureira - Fuego - Cyprus - LIVE - First...,NaN,NaN,NaN,NaN,18.14.06,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",NaN,151870,...,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,Eleni Foureira represented Cyprus at the first...,Eurovision Song Contest,24.0,2018-05-08T20:32:32.000Z,14317515.0,False
38915,4YFo4bdMO8Q,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,NaN,NaN,NaN,NaN,18.14.06,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",NaN,18271,...,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,Debut album 'Light of Mine' out now: http://ky...,SuperDuperKyle,10.0,2018-05-11T04:06:35.000Z,607552.0,False

Observamos que el número de filas es 176859 = 38916 + 137943, y el número de columnas es el mismo.
Concat se usa con datasets que tienen las mismas columnas, y unimos las filas.

**JOIN**

In [66]:
left = CAyt.set_index(['title', 'trending_date'])
right = GByt.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

                                                                        video_id_CAN  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z  3BgG4bUDHa4
                                                   2021-01-03T00:00:00Z  3BgG4bUDHa4
                                                   2021-01-04T00:00:00Z  3BgG4bUDHa4
                                                   2021-01-05T00:00:00Z  3BgG4bUDHa4
                                                   2021-01-06T00:00:00Z  3BgG4bUDHa4
...                                                                              ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z  YSaE8OWwJZE
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z  GS41f2pYPfY
                                                   2021-11-18T00:00:00Z  GS41f2pYPfY
                                                   2021-11-19T00:00:00Z  GS41f2pYPfY
                                                   2021-11-20T00:00:00Z  GS41f2pYPfY

                                                                                  publishedAt  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z  2020-12-30T17:43:29Z
                                                   2021-01-03T00:00:00Z  2020-12-30T17:43:29Z
                                                   2021-01-04T00:00:00Z  2020-12-30T17:43:29Z
                                                   2021-01-05T00:00:00Z  2020-12-30T17:43:29Z
                                                   2021-01-06T00:00:00Z  2020-12-30T17:43:29Z
...                                                                                       ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z  2022-03-04T17:30:03Z
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z  2021-10-29T16:00:07Z
                                                   2021-11-18T00:00:00Z  2021-10-29T16:00:07Z
                                                   2021-11-19T00:00:00Z  2021-10-29T16:00:07Z
                                                   2021-11-20T00:00:00Z  2021-10-29T16:00:07Z

                                                                                        channelId  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z  UCL5YbN5WLFD8dLIegT5QAbA
                                                   2021-01-03T00:00:00Z  UCL5YbN5WLFD8dLIegT5QAbA
                                                   2021-01-04T00:00:00Z  UCL5YbN5WLFD8dLIegT5QAbA
                                                   2021-01-05T00:00:00Z  UCL5YbN5WLFD8dLIegT5QAbA
                                                   2021-01-06T00:00:00Z  UCL5YbN5WLFD8dLIegT5QAbA
...                                                                                           ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z  UCzTlXb7ivVzuFlugVCv3Kvg
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z  UClR74BSOFXxMOKtuaaPu91Q
                                                   2021-11-18T00:00:00Z  UClR74BSOFXxMOKtuaaPu91Q
                                                   2021-11-19T00:00:00Z  UClR74BSOFXxMOKtuaaPu91Q
                                                   2021-11-20T00:00:00Z  UClR74BSOFXxMOKtuaaPu91Q

                                                                                      channelTitle  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z  agadmator's Chess Channel
                                                   2021-01-03T00:00:00Z  agadmator's Chess Channel
                                                   2021-01-04T00:00:00Z  agadmator's Chess Channel
                                                   2021-01-05T00:00:00Z  agadmator's Chess Channel
                                                   2021-01-06T00:00:00Z  agadmator's Chess Channel
...                                                                                            ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z               LDShadowLady
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z               Younes Zarou
                                                   2021-11-18T00:00:00Z               Younes Zarou
                                                   2021-11-19T00:00:00Z               Younes Zarou
                                                   2021-11-20T00:00:00Z               Younes Zarou

                                                                         categoryId  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z          24
                                                   2021-01-03T00:00:00Z          24
                                                   2021-01-04T00:00:00Z          24
                                                   2021-01-05T00:00:00Z          24
                                                   2021-01-06T00:00:00Z          24
...                                                                             ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z          20
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z          24
                                                   2021-11-18T00:00:00Z          24
                                                   2021-11-19T00:00:00Z          24
                                                   2021-11-20T00:00:00Z          24

                                                                                                                  tags_CAN  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z  agadmator|chess|best chess channel|best youtub...
                                                   2021-01-03T00:00:00Z  agadmator|chess|best chess channel|best youtub...
                                                   2021-01-04T00:00:00Z  agadmator|chess|best chess channel|best youtub...
                                                   2021-01-05T00:00:00Z  agadmator|chess|best chess channel|best youtub...
                                                   2021-01-06T00:00:00Z  agadmator|chess|best chess channel|best youtub...
...                                                                                                                    ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z  ldshadowlady|minecraft|mini game|girl gamer|pi...
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z  Younes|Zarou|Amazing|funny|nice|awesome|laugh|...
                                                   2021-11-18T00:00:00Z  Younes|Zarou|Amazing|funny|nice|awesome|laugh|...
                                                   2021-11-19T00:00:00Z  Younes|Zarou|Amazing|funny|nice|awesome|laugh|...
                                                   2021-11-20T00:00:00Z  Younes|Zarou|Amazing|funny|nice|awesome|laugh|...

                                                                         view_count  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z      460197
                                                   2021-01-03T00:00:00Z      541401
                                                   2021-01-04T00:00:00Z      561567
                                                   2021-01-05T00:00:00Z      577679
                                                   2021-01-06T00:00:00Z      589174
...                                                                             ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z     2008111
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z    14900080
                                                   2021-11-18T00:00:00Z    17867998
                                                   2021-11-19T00:00:00Z    21423134
                                                   2021-11-20T00:00:00Z    23653865

                                                                         likes_CAN  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z      21616
                                                   2021-01-03T00:00:00Z      23506
                                                   2021-01-04T00:00:00Z      24029
                                                   2021-01-05T00:00:00Z      24443
                                                   2021-01-06T00:00:00Z      24736
...                                                                            ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z     140095
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z     554271
                                                   2021-11-18T00:00:00Z     654441
                                                   2021-11-19T00:00:00Z     790712
                                                   2021-11-20T00:00:00Z     875202

                                                                         dislikes_CAN  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z           217
                                                   2021-01-03T00:00:00Z           258
                                                   2021-01-04T00:00:00Z           264
                                                   2021-01-05T00:00:00Z           270
                                                   2021-01-06T00:00:00Z           279
...                                                                               ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z             0
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z         29163
                                                   2021-11-18T00:00:00Z         34224
                                                   2021-11-19T00:00:00Z         41037
                                                   2021-11-20T00:00:00Z         45296

                                                                         comment_count_CAN  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z               1958
                                                   2021-01-03T00:00:00Z               2074
                                                   2021-01-04T00:00:00Z               2101
                                                   2021-01-05T00:00:00Z               2124
                                                   2021-01-06T00:00:00Z               2154
...                                                                                    ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z               8752
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z               1848
                                                   2021-11-18T00:00:00Z               2273
                                                   2021-11-19T00:00:00Z               2771
                                                   2021-11-20T00:00:00Z               3147

                                                                         ...  \
title                                              trending_date         ...
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z  ...
                                                   2021-01-03T00:00:00Z  ...
                                                   2021-01-04T00:00:00Z  ...
                                                   2021-01-05T00:00:00Z  ...
                                                   2021-01-06T00:00:00Z  ...
...                                                                      ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z  ...
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z  ...
                                                   2021-11-18T00:00:00Z  ...
                                                   2021-11-19T00:00:00Z  ...
                                                   2021-11-20T00:00:00Z  ...

                                                                        tags_UK  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z     NaN
                                                   2021-01-03T00:00:00Z     NaN
                                                   2021-01-04T00:00:00Z     NaN
                                                   2021-01-05T00:00:00Z     NaN
                                                   2021-01-06T00:00:00Z     NaN
...                                                                         ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z     NaN
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z     NaN
                                                   2021-11-18T00:00:00Z     NaN
                                                   2021-11-19T00:00:00Z     NaN
                                                   2021-11-20T00:00:00Z     NaN

                                                                         views  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z    NaN
                                                   2021-01-03T00:00:00Z    NaN
                                                   2021-01-04T00:00:00Z    NaN
                                                   2021-01-05T00:00:00Z    NaN
                                                   2021-01-06T00:00:00Z    NaN
...                                                                        ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z    NaN
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z    NaN
                                                   2021-11-18T00:00:00Z    NaN
                                                   2021-11-19T00:00:00Z    NaN
                                                   2021-11-20T00:00:00Z    NaN

                                                                         likes_UK  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z       NaN
                                                   2021-01-03T00:00:00Z       NaN
                                                   2021-01-04T00:00:00Z       NaN
                                                   2021-01-05T00:00:00Z       NaN
                                                   2021-01-06T00:00:00Z       NaN
...                                                                           ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z       NaN
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z       NaN
                                                   2021-11-18T00:00:00Z       NaN
                                                   2021-11-19T00:00:00Z       NaN
                                                   2021-11-20T00:00:00Z       NaN

                                                                        dislikes_UK  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z         NaN
                                                   2021-01-03T00:00:00Z         NaN
                                                   2021-01-04T00:00:00Z         NaN
                                                   2021-01-05T00:00:00Z         NaN
                                                   2021-01-06T00:00:00Z         NaN
...                                                                             ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z         NaN
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z         NaN
                                                   2021-11-18T00:00:00Z         NaN
                                                   2021-11-19T00:00:00Z         NaN
                                                   2021-11-20T00:00:00Z         NaN

                                                                        comment_count_UK  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z              NaN
                                                   2021-01-03T00:00:00Z              NaN
                                                   2021-01-04T00:00:00Z              NaN
                                                   2021-01-05T00:00:00Z              NaN
                                                   2021-01-06T00:00:00Z              NaN
...                                                                                  ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z              NaN
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z              NaN
                                                   2021-11-18T00:00:00Z              NaN
                                                   2021-11-19T00:00:00Z              NaN
                                                   2021-11-20T00:00:00Z              NaN

                                                                        thumbnail_link_UK  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z               NaN
                                                   2021-01-03T00:00:00Z               NaN
                                                   2021-01-04T00:00:00Z               NaN
                                                   2021-01-05T00:00:00Z               NaN
                                                   2021-01-06T00:00:00Z               NaN
...                                                                                   ...
🦝Raccoon Powers 🦝| Ep. 1 | Afterlife Minecraft SMP 2022-03-11T00:00:00Z               NaN
🩸❌🔪🍅 IT IS NOT REAL BLOOD 🍅🔪❌🩸 Photography Tuto... 2021-11-17T00:00:00Z               NaN
                                                   2021-11-18T00:00:00Z               NaN
                                                   2021-11-19T00:00:00Z               NaN
                                                   2021-11-20T00:00:00Z               NaN

                                                                         comments_disabled_UK  \
title                                              trending_date
!@#$%$#!! || Dubov vs Carlsen || Airthings Mast... 2021-01-01T00:00:00Z                   NaN
                                                   2021-01-03T00:00:00Z                   NaN
                                                   2021-01-04T00:00:00Z                   NaN
                                                   2021-01-05T00:00:00Z                   NaN
                                                   2021-01-06T00:00:00Z                   NaN